@model IEnumerable<SiteMVC.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="~/css/tabelas.css" asp-append-version="true" />
}

<h1>Usuários</h1>

<p style="display: flex; justify-content: center; align-items: center; width: 150px; height: 35px; border-radius: 5px; background-color: #0D6EFD;">
    <a asp-action="Create" style="align-self: center; width: 100%; border-radius: 5px; color: #ffffff; padding: 5px 0px 5px 8%;">Adicionar Usuário</a>
</p>

<input type="search" placeholder="Pesquisa por usuário" id="barra_pesquisa" onkeyup="filtrarTabela()" />

<table class="table" id="tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalEmprestimos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmprestimosAtivos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr class="tr">
                <td>
                    @Html.DisplayFor(modelItem => usuario.IdUsuario)
                </td>
                <td class="nome">
                    @Html.DisplayFor(modelItem => usuario.NomeUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.TotalEmprestimos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.EmprestimosAtivos)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@usuario.IdUsuario">Editar</a> |
                    <a asp-action="Details" asp-route-id="@usuario.IdUsuario">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@usuario.IdUsuario">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if (ViewBag.CurrentPage > 1)
    {
        <a asp-action="Index" asp-route-page="@(ViewBag.CurrentPage - 1)">Anterior</a>
    }

    Página @(ViewBag.CurrentPage) de @(ViewBag.TotalPages)

    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        <a asp-action="Index" asp-route-page="@(ViewBag.CurrentPage + 1)">Próxima</a>
    }
</div>
<script src="~/js/usuarios.js" asp-append-version="true"></script>
