@model IEnumerable<SiteMVC.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="~/css/tabelas.css" asp-append-version="true" />
}

<h1>Usuários</h1>

<p>
    <a asp-action="Create">Adicionar Usuário</a>
</p>

<input type="search" placeholder="Digite para pesquisar" id="barra_pesquisa" onkeyup="filtrarTabela()" />

<table class="table" id="tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalEmprestimos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmprestimosAtivos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr class="tr">
                <td>
                    @Html.DisplayFor(modelItem => usuario.IdUsuario)
                </td>
                <td class="nome">
                    @Html.DisplayFor(modelItem => usuario.NomeUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.Senha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.TotalEmprestimos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => usuario.EmprestimosAtivos)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@usuario.IdUsuario">Editar</a> |
                    <a asp-action="Details" asp-route-id="@usuario.IdUsuario">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@usuario.IdUsuario">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
