@model IEnumerable<SiteMVC.Models.Solicitacoes>

@{
    ViewData["Title"] = "Solicitações";
    <link rel="stylesheet" href="~/css/tabelas.css" asp-append-version="true" />
}

<h1>Solicitações</h1>

<input type="search" placeholder="Digite para pesquisar" id="barra_pesquisa" onkeyup="filtrarTabela()" />
<select id="filtroStatus" onchange="filtrarTabelaPorStatus()">
        <option value="">Todos os status</option>
        <option value="Aguardando aprovação">Aguardando aprovação</option>
        <option value="Emprestado">Emprestado</option>
        <option value="Encerrado/Devolvido">Encerrado/Devolvido</option>
</select>

<table class="table" id="tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSolicitacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var solicitacao in Model.OrderByDescending(solicitacao => solicitacao.IdSolicitacao))
        {
            <tr class="tr">
                <td>
                    @Html.DisplayFor(modelSolicitacoes => solicitacao.IdSolicitacao)
                </td>
                <td class="nome">
                    @Html.DisplayFor(modelSolicitacoes => solicitacao.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelSolicitacoes => solicitacao.IdUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelSolicitacoes => solicitacao.Item)
                </td>
                <td>
                    @Html.DisplayFor(modelSolicitacoes => solicitacao.TipoItem)
                </td>
                <td>
                    @Html.DisplayFor(modelSolicitacoes => solicitacao.IdItem)
                </td>
                <td>
                    @Html.DisplayFor(modelSolicitacoes => solicitacao.DataEmprestimo)
                </td>
                <td>
                    @Html.DisplayFor(modelSolicitacoes => solicitacao.DataDevolucao)
                </td>
                <td class="status">
                    @Html.DisplayFor(modelSolicitacoes => solicitacao.Status)
                </td>
                <td>
                @{
                    if (solicitacao.Status != "Emprestado" && solicitacao.Status != "Encerrado/Devolvido")
                    {
                        <a asp-action="Aprovar" asp-route-id="@solicitacao.IdSolicitacao">Aprovar solicitação</a>
                    }

                    if (solicitacao.Status == "Emprestado")
                    {
                        <a asp-action="Encerrar" asp-route-id="@solicitacao.IdSolicitacao">Encerrar solicitação</a>
                    }
                }
                    <a asp-action="Details" asp-route-id="@solicitacao.IdSolicitacao">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@solicitacao.IdSolicitacao">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/solicitacoes.js" asp-append-version="true"></script>
