@model IEnumerable<SiteMVC.Models.Item>

@{
    ViewData["Title"] = "Estoque";
    <link rel="stylesheet" href="~/css/tabelas.css" asp-append-version="true" />
}

<h1>Estoque</h1>


@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Adicionar item</a>
    </p>
}

<input type="search" placeholder="Digite para pesquisar" id="barra_pesquisa" onkeyup="filtrarTabela()" />
<select id="filtroPorEstado" onchange="filtrarTabela()">
    <option value="">Todos os estados</option>
    <option value="Disponível">Disponível</option>
    <option value="Emprestado">Emprestado</option>
    <option value="Danificado">Danificado</option>
</select>

<table class="table" id="tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(item => item.Id))
        {
            <tr class="tr">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="nome">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="tipo">
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proprietario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td class="estado">
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script src="~/js/estoque.js" asp-append-version="true"></script>
